@import './variables';

html, body, p {
    margin: 0;
    padding: 0;
}

input {
    color: $ice;
    background: transparent;
    border: 0;
    &:focus {
        border: 0 none;
        outline: 0;
    }
}

.generic__container {
   @include flexbox(row, center, normal);
}

.validation__fields :is(input:focus, input:valid)~svg {
    transform: translateX(-4.2rem) scale(1);
    padding: 3px;
}

#main-content {
    height: 100vh;
    background: $shades-gray;
    background-repeat: no-repeat;
    background-size: contain;
    color: $ice;
    .side__background {
        position: absolute;
        right: 0;
        width: 42rem;
    }
}



