@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@100;300;600&display=swap");
html, body, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #C13216;
}

input {
  color: #E0E0E0;
  background: transparent;
  border: 0;
}
input:focus {
  border: 0 none;
  outline: 0;
}

.generic__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
}

.validation__fields :is(input:focus, input:valid) ~ svg {
  transform: translateX(-4.2rem) scale(1);
  padding: 3px;
}

#main-content {
  height: 100vh;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  background-repeat: no-repeat;
  background-size: contain;
  color: #E0E0E0;
}
#main-content .side__background {
  position: absolute;
  right: 0;
  width: 42rem;
}

html, body, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #C13216;
}

input {
  color: #E0E0E0;
  background: transparent;
  border: 0;
}
input:focus {
  border: 0 none;
  outline: 0;
}

.generic__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
}

.validation__fields :is(input:focus, input:valid) ~ svg {
  transform: translateX(-4.2rem) scale(1);
  padding: 3px;
}

#main-content {
  height: 100vh;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  background-repeat: no-repeat;
  background-size: contain;
  color: #E0E0E0;
}
#main-content .side__background {
  position: absolute;
  right: 0;
  width: 42rem;
}

#main-content {
  width: 100vw;
  height: 100vh;
}
#main-content .card-validation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 56.25rem;
  height: 95vh;
  margin-left: 0rem;
}
#main-content .card-validation .validation__phrase {
  align-self: flex-start;
  position: relative;
  top: 2rem;
  left: 16rem;
}
#main-content .card-validation .validation__phrase .principal-text {
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  font-weight: 500;
  color: #E0E0E0;
}
#main-content .card-validation .validation__phrase .additional-text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #E0E0E0;
  width: 24rem;
}
#main-content .card-validation .validation__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
#main-content .card-validation .validation__container .validation__container-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  color: #E0E0E0;
  margin: 0;
}
#main-content .card-validation .validation__container .validation__fields {
  box-sizing: border-box;
  background: #26292C;
  border: 1px solid #ffffff;
  border-radius: 50px;
  height: 3.75rem;
  width: 23.6875rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-top: 2.0625rem;
}
#main-content .card-validation .validation__container .validation__fields .field__input {
  width: 19rem;
  font-size: 1rem;
}
#main-content .card-validation .validation__container .validation__fields .field__input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #E0E0E0;
}
#main-content .card-validation .validation__container .validation__fields .field__input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #E0E0E0;
}
#main-content .card-validation .validation__container .validation__fields .field__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #E0E0E0;
}
#main-content .card-validation .validation__container .validation__fields .field__input-icon {
  position: relative;
  pointer-events: none;
  transition: all 0.3s ease;
}
#main-content .card-validation .validation__container .validation__fields .user {
  left: 4.2rem;
  top: 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
}
#main-content .card-validation .validation__container .validation__fields .padlock {
  left: 4.5rem;
  top: 0.1rem;
  width: 1.6rem;
  height: 3rem;
}
#main-content .card-validation .continue {
  cursor: pointer;
  position: relative;
  bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  width: 23.6875rem;
  height: 4.1875rem;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  border: 0.1875rem solid #C12D18;
  border-radius: 50px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1490196078);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
}

html, body, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #C13216;
}

input {
  color: #E0E0E0;
  background: transparent;
  border: 0;
}
input:focus {
  border: 0 none;
  outline: 0;
}

.generic__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
}

.validation__fields :is(input:focus, input:valid) ~ svg {
  transform: translateX(-4.2rem) scale(1);
  padding: 3px;
}

#main-content {
  height: 100vh;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  background-repeat: no-repeat;
  background-size: contain;
  color: #E0E0E0;
}
#main-content .side__background {
  position: absolute;
  right: 0;
  width: 42rem;
}

#main-content .card-validation .validation__container .validation__fields {
  border: 1px solid #E9B425;
}

.validation__mensage {
  width: 17rem;
  margin: 1.8rem auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #E9B425;
}

.header__hour-date-weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main__content-Home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 84vh;
}
#main__content-Home .content-Home__img-logo {
  position: absolute;
  left: 0;
  width: 42rem;
}
#main__content-Home .our-mission {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: normal;
  margin-right: 3rem;
}
#main__content-Home .our-mission #text__ourMission {
  font-family: "Poppins", sans-serif;
  font-size: 1.95rem;
  font-weight: bold;
  color: #C12D18;
  margin-bottom: 1rem;
}
#main__content-Home .our-mission .principal-text {
  font-family: "Poppins", sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  color: #C12D18;
}
#main__content-Home .our-mission .principal-text__traduction {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #222222;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  height: 10.2vh;
}
.footer-nav .mensage {
  width: 37rem;
  border-right: 1px solid #ffffff;
}
.footer-nav .mensage .mensage__phase {
  margin-right: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
}
.footer-nav .alert-refresh {
  width: 5rem;
  text-align: right;
}
.footer-nav .alert-refresh, .footer-nav .container__timer .seconds {
  font-family: "Poppins", sans-serif;
  font-size: 0.675rem;
  font-weight: 400;
  color: #ffffff;
}
.footer-nav .container__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  width: 3.5rem;
}
.footer-nav .container__timer .timer {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.footer-nav .btn__footer {
  width: 8.125rem;
  height: 4.8125rem;
  border: none;
  cursor: pointer;
  text-align: center;
}
.footer-nav #btns_container {
  position: relative;
  left: 5.3rem;
}
.footer-nav #btns_container .keepGoIn {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #C13216;
}
.footer-nav #btns_container .logout {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #ffffff;
}

#loading {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.644);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
          backdrop-filter: blur(2.4px);
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 26;
  align-items: center;
  justify-content: center;
}
#loading .loading__icon {
  width: 6rem;
  filter: invert(100%);
  -webkit-animation: loadingSpin 1.2s ease-in-out 0s infinite normal forwards;
          animation: loadingSpin 1.2s ease-in-out 0s infinite normal forwards;
}/*# sourceMappingURL=style.css.map */